@import url('./custom-properties.css');
@import url('./utility-classes.css');

/* ----------------- */
/* Components        */
/* ----------------- */

.large-button {
    font-size: 2rem;
    display: inline-grid;
    place-items: center;
    border-radius: 50%;
    padding: 0 2em;
    aspect-ratio: 1;
    text-decoration: none;
    transition: all 1s ease-in-out;
}

.large-button:hover,
.large-button:focus {
    -webkit-box-shadow: 0px 0px 0px 88px hsl(var(--clr-white) /.15);
    box-shadow: 0px 0px 0px 88px hsl(var(--clr-white) /.15);
    transition: all 1s ease;
}


/* primary header */

.logo {
    margin: 1.5rem clamp(1.5rem, 5vw, 3.5rem);
}

.primary-header {
    justify-content: space-between;
    align-items: center;
}

.primary-navigation {
    --gap: clamp(1.5rem, 5vw, 3.5rem);
    --underline-gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: hsl(var(--clr-white) / 0.04);
    backdrop-filter: blur(5rem);
}

.primary-navigation a {
    text-decoration: none;
}

.primary-navigation a>span {
    font-weight: 700;
    margin-right: .5em;
}

.mobile-nav-toggle {
    display: none;
}

@media (max-width: 35rem) {
    .primary-navigation {
        --underline-gap: 1rem;
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;
        list-style: none;
        padding: min(20rem, 15vh) 2rem;
        margin: 0;
        flex-direction: column;
        transform: translateX(100%);
        transition: all .5s ease;
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0);
        transition: all .5s ease;
    }

    .primary-navigation.underline-indicators>.active {
        border: 0;
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 2000;
        right: 1rem;
        top: 2rem;
        background: transparent;
        background-image: url('../shared/icon-hamburger.svg');
        background-repeat: no-repeat;
        background-position: center;
        width: 1.5rem;
        aspect-ratio: 1;
        border: 0;
        transition: all .4s;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url('../shared/icon-close.svg');
        transition: all .4s;
    }

    .mobile-nav-toggle:focus-visible {
        outline: 5px solid white;
        outline-offset: 5px;
    }
}

@media (min-width: 35em) {
    .primary-navigation {
        padding-inline: clamp(3rem, 8vw, 7rem);
    }
}

@media (min-width: 35em) and (max-width: 47.999em) {
    .primary-navigation a>span {
        display: none;
    }
}

@media (min-width: 48em) {
    .primary-header::after {
        content: '';
        display: block;
        position: relative;
        height: 1px;
        width: 100%;
        margin-right: -3rem;
        background: hsl(var(--clr-white) / .25);
        order: 1;
    }

    nav {
        order: 2;
    }

    .primary-navigation {
        margin-block: 2rem;
    }
}

.underline-indicators>li,
.underline-indicators>li,
.underline-indicators>a,
.underline-indicators>a,
.underline-indicators>button,
.underline-indicators>button {
    cursor: pointer;
    padding: var(--underline-gap, 1rem) 0;
    border: 0;
    border-bottom: .2rem solid hsl(var(--clr-white) / 0);
}

.underline-indicators>li:hover,
.underline-indicators>li:focus,
.underline-indicators>a:hover,
.underline-indicators>a:focus,
.underline-indicators>button:hover,
.underline-indicators>button:focus {
    border-color: hsl(var(--clr-white) / .5);
}

.underline-indicators>.active,
.underline-indicators>.active:hover,
.underline-indicators>.active:focus,
.underline-indicators>[aria-selected="true"],
.underline-indicators>[aria-selected="true"]:hover {
    color: hsl(var(--clr-white) / 1);
    border-color: hsl(var(--clr-white) / 1);
}

.tab-list {
    --gap: 2rem;
}

.dot-indicators>button {
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    aspect-ratio: 1;
    padding: .5em;
    background-color: hsl(var(--clr-white) / .25);
}

.dot-indicators>button:hover,
.dot-indicators>button:focus {
    background-color: hsl(var(--clr-white) / .5);
}

.dot-indicators>[aria-selected="true"],
.dot-indicators>[aria-selected="true"] {
    background-color: hsl(var(--clr-white) / 1);
}

.circleNumber-indicators>button {
    height: 70px;
    width: 70px;
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    aspect-ratio: 1;
    border: 1px solid hsl(var(--clr-white) / 1);
}

.circleNumber-indicators>button:hover {
    background-color: hsl(var(--clr-white) / 1);
    color: hsl(var(--clr-dark) / 1);
}